---
# Override main SCSS on v2.5.0.
---

@import "{{ site.theme }}";

.header-avatar {
  height: 40px;
  width: auto;
  float: left;
  border-radius: 100px;
  margin: 8px 8px 8px 0;
}

.footer-col-wrapper p {
  text-align: center;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-title--404notfound {
  .page-content {
    background: transparent url(/assets/img/hacking-in-progress.gif) repeat center center;

    .post-header {
      color: #0000ff;
      text-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
    }

    .post-content {
      color: #fff;
      text-shadow: 0 0 15px #ff0000, 0 0 15px #ff0000, 0 0 15px #ff0000;
    }
  }
}
